# Ignore global files
*.env
.venv
.DS_Store
.vscode/

# Ignore Backend files
backend/.venv/
backend/*.pyc
backend/__pycache__/
backend/flaskr/__pycache__/
backend/instance/
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/dist/
backend/build/
backend/*.egg-info/
backend/.env
backend/pdfUpload/*
!backend/pdfUpload/.gitkeep

# Ignore Frontend files
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*