# Ignore global files
*.env
.DS_Store
.vscode/

# Ignore Backend files
backend/.venv/
backend/*.pyc
backend/__pycache__/
backend/flaskr/__pycache__/
backend/instance/
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/dist/
backend/build/
backend/*.egg-info/
backend/.env